<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 是否使用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- sql超时时间 毫秒 -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- 是否启用驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 是否插入时自动生成主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 设置控制台打印sql -->
        <!--<setting name="logImpl" value="stdout_logging" />-->
    </settings>

</configuration>